
/*Consider normalising the stylesheet with https://cdn.jsdelivr.net/npm/modern-normalize/modern-normalize.css  and see what happens*/

/*FONTS*/

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat Italic";
  src: url(../assets/fonts/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "EB Garamond";
  src: url(../assets/fonts/EBGaramond-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "EB Garamond Italic";
  src: url(../assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Sorts Mill Goudy";
  src: url(../assets/fonts/SortsMillGoudy-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Sorts Mill Goudy Italic";
  src: url(../assets/fonts/SortsMillGoudy-Italic.ttf) format("truetype");
}

/*Gobal box sizing*/

* {
  box-sizing: border-box;
}

/*NAVIGATION PANEL FOR THE HOME PAGE (index)*/

#home-nav {
  display: block;
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

#home-nav a {
  margin: 0 15px;
  font-size: 1em;
  font-weight: 500;
  color: rgb(40, 69, 40);
  text-decoration: none;
}

#home-nav a:hover {
  color: rgb(100, 134, 100);
}

#home-title {
  color: rgb(40, 69, 40);
  font-family: 'EB Garamond', 'Sorts Mill Goudy', Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 4em;
  text-align: center;
  margin-bottom: -10px;
}

#home-subtitle {
  color: rgb(100, 134, 100);
  font-family: 'EB Garamond Italic', 'Sorts Mill Goudy Italic', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  text-align: center;
}

/*NAVIGATION PANEL FOR THE REST OF THE TABS*/

.tabs-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.tabs-header .tabs-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tabs-header {
  width: 100%;
  padding: 1rem 0;
}

.tabs-title {
  flex-grow: 1;
  margin: 0;
}

.tabs-title a {
  text-decoration: none;
  color: rgb(40, 69, 40);
  font-size: 1.2em;
  font-weight: 500;
  font-family: 'EB Garamond', 'Sorts Mill Goudy Italic', Georgia, 'Times New Roman', Times, serif;
}

.tabs-title a:hover {
  color: rgb(40, 69, 40);
}

.tabs-title a:visited {
  color: rgb(40, 69, 40);
}

.tabs-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.5rem;
}

.tabs-nav a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 500;
  color: rgb(40, 69, 40);
}

.tabs-nav a:hover {
  color: rgb(100, 134, 100);
}

/*STYLES FOR THE BODY OF ALL TABS*/

.main-content {
  width: 92%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgb(255, 250, 240);
  flex-grow: 1;
}

body {
  height: 100vh;
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(255, 250, 240);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-family: 'EB Garamond', 'Sorts Mill Goudy', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.75rem;
  color: rgb(40, 69, 40);
  text-align: center;
  margin: 20px 0px 50px 0px;
}

a {
  color: rgb(25, 115, 175);
  text-decoration: underline;
}

a:hover {
  color: rgb(219, 72, 101);
}

a:active {
  color: rgb(235, 76, 108);
}

p {
  line-height: 1.7;
  margin-bottom: 17px;
}

.important-paragraph::first-letter {
  font-size: 2rem;
  font-weight: bold;
  vertical-align: bottom;
  line-height: 1.2em;
}

/*For something very fancy about First Letter, consider this:
Drop Caps: Historical Use And Current Best Practices With CSS - https://www.smashingmagazine.com/2012/04/drop-caps-historical-use-and-current-best-practices/
or this
https://css-tricks.com/almanac/selectors/f/first-letter/
*/

/*SPECIFIC TO HOME SECTION*/

.h3-home {
  font-family: 'EB Garamond', 'Sorts Mill Goudy', Georgia, 'Times New Roman', Times, serif;
  font-size: 1.75rem;
  color: rgb(40, 69, 40);
  text-align: center;
  margin: 20px 0px 20px 0px;
}

#about-figure {
  float: right;
  margin: 5px 10px 0px 40px;
}

#about-image {
  border: 2px solid rgb(200, 200, 200);
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 0 8px 0 rgb(196, 189, 178);
}

.caption {
  font-size: 0.8em;
  font-style: italic;
  color: rgb(120, 120, 120);
  text-align: center;
  margin-top: 5px;
}

#selected-publications {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  justify-content: space-around;
  max-width: 900px;
}

.home-publication-cover {   /*ratio 2:3*/
  display: block;
  width: 240px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid rgb(200, 200, 200);
  box-shadow: 0 0 8px 0 rgb(196, 189, 178);
}

/*SPECIFIC TO ACADEMIA SECTION*/

#academia-figure {
  float: right;
  margin: 10px 10px 10px 40px;
}

#academia-image {
  border: 2px solid rgb(200, 200, 200);
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 0 8px 0 rgb(196, 189, 178);
}

/*SPECIFIC TO CONTACT SECTION*/

.main-content-contact {
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgb(255, 250, 240);
  flex-grow: 1;
}

form {
  margin-top: 100px;
}

fieldset {
  border: none;
  margin-bottom: -8px;
  padding: 0;
  display: inline-block;
  width: 100%;
}

legend {
  margin-bottom: 8px;
  margin-left: -2px;
}

label {
  font-weight: auto;
  line-height: 2em;
  padding-top: 5px;
}

.name-fields {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
}

.name-label { 
  font-size: 0.9em;
}

input#first-name,
input#last-name {
  width: 367px;
  min-width: 300px;
  margin-bottom: 6px;
}

input, textarea {
  width: 100%;
  background-color: rgb(255, 250, 240);
  font-size: 1em;
  padding: 8px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 20px;
}

textarea {
  height: 100px;
  resize: vertical;
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

input:hover,
textarea:hover {
  outline: 0.8px solid rgb(80, 114, 80);
}

input:focus,
textarea:focus {
  outline: 2.75px solid rgb(67, 116, 67);
}

input[type="email"]::placeholder {
  font-style: italic;
}

button {
  width: auto;
  font-size: 1em;
  border: none;
  color: rgb(255, 250, 240);
  background-color: rgb(67, 116, 67);
  padding: 8px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 3px 6px rgb(113, 121, 113);
  min-width: 100px;
  /*transition: transform 0.2s, background-color 0.2s ease;    ---> this, along with the transfor line in the next selector, would make the button bigger when hovered*/
}

button:hover {
  background-color: rgb(96, 140, 96);
  /*transform: scale(1.04);*/
}

/*FOOTER*/

.footer-content {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: rgb(255, 250, 240);
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: rgb(100, 100, 100);
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid rgb(200, 200, 200);
}